<ion-view title="Metrics">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>Heading</h1>
        <form class="list">
            <ion-toggle toggle-class="toggle-positive">Toggle</ion-toggle>
            <ion-radio>Radio</ion-radio>
            <label class="item item-input">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
            <ion-item class="range range-positive">Range
                <input type="range" value="50" min="0" max="100">
            </ion-item>
            <ion-toggle toggle-class="toggle-positive">Toggle</ion-toggle>
        </form>
    </ion-content>
</ion-view>