<ion-view title="Quick Add">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label"><i class="icon ion-person"></i>&nbsp; First</span>
                <input type="text" placeholder="Isidro">
            </label>
            <label class="item item-input">
                <span class="input-label"><i class="icon ion-person"></i>&nbsp;Last</span>
                <input type="text" placeholder="hernandez">
            </label>
            <label class="item item-input">
                <span class="input-label"><i class="icon ion-email"></i>&nbsp;Email</span>
                <input type="text" placeholder="mriidro@outlook.com">
            </label>
            <label class="item item-input">
                <span class="input-label"><i class="icon ion-iphone"></i>&nbsp;Cell Number</span>
                <input type="text" placeholder="55555555">
            </label>
            <div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      <i class="icon ion-person"></i>&nbsp;Contact Type
    </div>
    <select>
      <option selected>Prospect</option>
      <option >Warm Contact</option>
      <option>Not Interested</option>
    </select>
  </label>

</div><br>
            <div align="center">
             <button align="middle" class="button button-positive">
      Submit
    </button>
            </div>
        </form>
    </ion-content>
</ion-view>